<?xml version="1.0" encoding="utf-8"?>
<ArrayOfProperty xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Property>
    <name>windowLocation</name>
    <value xsi:type="Point">
      <X>967</X>
      <Y>27</Y>
    </value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>MainContentLabel</name>
    <value xsi:type="xsd:string">Main Content</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>AllowShowNormalFields</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>HomographConfiguration</name>
    <value xsi:type="xsd:string" />
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>SidebarWidthGlobal</name>
    <value xsi:type="xsd:int">140</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>SidebarLabel</name>
    <value xsi:type="xsd:string">Sidebar</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>PreviousToolbarVersion</name>
    <value xsi:type="xsd:string">1</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>BestStyleName</name>
    <value xsi:type="xsd:string">????</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>IgnoreStatusPanel</name>
    <value xsi:type="xsd:boolean">false</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>UpdateLexiconIfPossible</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>AllowInsertLinkToFile</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>LinkScriptureBooksWanted</name>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>ShowSidebar</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>InterlinearTab</name>
    <value xsi:type="xsd:string">Gloss</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>UseVernSpellingDictionary</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>AllButSidebarLabel</name>
    <value xsi:type="xsd:string">Record List &amp; MainContent</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>ExcludedCoreTexts</name>
    <value xsi:type="xsd:string" />
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>windowState</name>
    <value xsi:type="FormWindowState">Normal</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>RecordListWidthGlobal</name>
    <value xsi:type="xsd:int">200</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>windowSize</name>
    <value xsi:type="Size">
      <Width>953</Width>
      <Height>1043</Height>
    </value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>ShowRecordList</name>
    <value xsi:type="xsd:boolean">false</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>LinkSetupInfo</name>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>RecordClerk-DelayedGenreAssignment</name>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>RemoveAnalyses</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>entries.normalEdit.DataTree-SliceSplitterBaseDistance</name>
    <value xsi:type="xsd:int">150</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>InterestingScriptureTexts</name>
    <value xsi:type="xsd:string" />
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>ReversalIndexGuid</name>
    <value xsi:type="xsd:string">271b5ef7-eeff-4ed6-9fb4-61223037eb2e</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>RecordListLabel</name>
    <value xsi:type="xsd:string">Record List</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
</ArrayOfProperty>